.txt-empresa {
    margin-bottom: 0;
    font-family: "openExtraBold";
    text-shadow: 1px 2px 6px #5d5d5d;
    font-weight: 600;
    
}
.rmprsporce span{
    color: white;
    font-weight: 800;
   
    font-size: 0.8rem;

}
.revo_inte{
font-size: 2.2rem !important;
text-shadow: 1px 2px 6px #5d5d5d !important;
margin-bottom: 0 !important;
color: #ffffff !important;
line-height: 1;
}

.txtbluex{
    color: #4F8AE1;
}
.fstxtblux{
    font-size: 1.5rem;
    font-weight:600 ;
}
.txt-black{
    color: black;
}
.txt-grs{
    color: #434343;
}
.text-justify{
    text-align: justify;
}
.text-last{
    text-align-last: center;
}
.cajaazul{
font-weight: 600;
color: white;
}
.fs_sm{
    font-size: 0.75rem;
}

.fw600{
    font-weight: 600;
}
.fwbold{
    font-weight: bold;
}
.tick{
    height: 1.5rem;
    width: 0.5rem;
    padding: 0rem !important;
}
.ml-2{
    margin-left: 0.5rem;
    margin-bottom: 0;
}
.txt-compromis{
    color:#458BE1 ;
    font-weight: 600;
}
.bluzol{
    color:#458BE1 ;
    font-weight: 600;
}
.form-inpt{
    border-bottom: 1px solid #ced4da !important;
    border: none;
    border-radius: 0;
}
.form-msj{
    border-radius: 0;
}
.txt-gray_s{
    color: #8B8B8B;
}
.form-inpt::placeholder{ 
    color:#8B8B8B ;
    font-size: 0.8rem;
}
.btn_contacto{
    border-radius: 0;
    background-color: #458BE1;
    color: white;
    font-weight: 600;
    padding: 0.5rem 1.8rem;
}
.bg-cover{
    background-size: cover;
} 
.bg-center{
    background-position: center;
}
.bg-nrpte{
    background-repeat: no-repeat;
}
.fondo_graybajo{
    background-color: #F2F2F2;
    height: 100%;
    width: 65%;
    top: 0;

}

.txtsizesm{
    font-size: 0.75rem;
}
.h-10{
    width: 10%;
}
.w-10{
    width: 10%;
}
.w_rmsa{
    width: 7rem;
}
.fwsm{
    font-size: 0.75rem;
}
.text-black{
    color: black;
}
.inptprgrs{
    background: #E4E4E4;
    padding: 0.2rem 0.8rem;
    border-radius: 0;
    line-height: 1.2;
}

.img-square{
    width: 100%;
    height: 200px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.program1 {
    transition: all 300ms ease;
}
.program1 h2{
    font-size: 1.5rem;
    margin: 3.5rem 0;
    font-family: 'openBold';
    color: #4F8AE4;
}
.program1 a{
    background-color: #4F8AE4;
    border-color: #4F8AE4;
    padding: .5rem 1rem;
}
.text-programs{
    font-size: 0.8rem;
    font-weight: bold;
    color: #3e3e3e;
    margin-bottom: 2rem;
}
.slick-flechas{
    margin-top: 4rem;
}
.slick-flechas button{
    padding: 1px 8px;
    background: #4f8ae4;
    border-color: #4f8ae4;
    border-radius: 0;
}
.slick-flechas span{
    vertical-align: middle;
    color: #4f8ae4;
    margin: 0 15px;
}
.slick-list{
    padding: 0 !important;
}


@media (min-width: 320px) {
    .txt-empresa {
        font-size: 2rem;
    }
    .centradoempresa {
        top: 48% !important;
        left: 45% !important;
    }
    .n_rp{
        display: none;
    }
    .text-empre1{
        padding: 1rem 0.5rem;
        margin: 0;
        font-weight: 600;
    }
    .spac_min{
        padding-top: 0.5rem;
    }
    .txt-compromis{
        font-size: 1.4rem;
        padding: 1rem 0;
      
    }
    .mr_progres2{
        margin-top: 10rem;
    }
    .fstxtblux{
        text-align: center;
        margin: 0;
        padding: 1.5rem 0;
    }
    .frmnput{
        padding: 0.375rem 0rem;
    }
    .w_rm{
        width: 3rem;
    }
    .contac_txt{
        top: 67% !important;
        left: 41% !important;
    }
    .txtcontc1{
    font-family: 'openExtraBold';
    font-size: 2rem;
    text-shadow: 1px 2px 6px #5d5d5d;
    }
    .txtcontc2{
            font-family: 'openExtraBold';
    font-size: 2rem;
    text-shadow: 1px 2px 6px #5d5d5d;
    }
    .h-sda{
       height: 12rem;
    }
    .rute_a{
        font-size: 0.8rem;
        color: black;
        font-weight: 600;
        text-decoration: none;
    }
    .indx-blg{
        text-align: center;
        margin-top: 2.2rem;
    }
    .mrgnt{
        margin: 0;
        line-height: 0.5;
    }
    .mrgdas{
        margin-top: 0.8rem;
    }
    .txt_dte{
        font-size: 0.7rem;
    }
    .mrowblg{
        margin-bottom: 2rem;
    }
    .mrg-indtl{
        margin-top: 2rem;
    }
    .hrmg{
        margin-top: 1rem;
        margin-bottom: 0.8rem;
    }
    .spcrm5{
        margin: 1.5rem 0rem 5rem;
    }
    .mtd-sa{
        margin-top: 2rem;
    }
    .pstremc{
        text-align: start;
    }
    .mbconcts{
        margin-bottom: 0rem;
    }
    .txtprogr1,.txtprogr2{
        text-align: center;
    }
    .txtprogr2{
        font-family: "openExtraBold";
        font-weight: 500 !important;
    }
    .mrgprogr{
        margin: 3rem 0 2rem;
    }
    .fot2prog{
        margin-top: 2rem;
    }
    .cardpromrp{
        border: 0;
        margin: 1rem 0rem 1rem 0rem;
    }
    .btn_progrms{
        background-color: #427CCE;
        border-radius: 0;
        color: white;
        font-weight: 600;
    }
    .progra1rp{
        display: block;
    }
    .revo_inte{
    font-size: 2.2rem !important;
    text-shadow: 1px 2px 6px #5d5d5d !important;
    margin-bottom: 0 !important;
    color: #ffffff !important;
    line-height: 1;
    }
    .rmprsporce span{
        color: white;
        font-weight: 800;
       
        font-size: 0.8rem;
    
    }
}

@media (min-width: 375px) {
    .txt-empresa {
        font-size: 2.2rem;
    }
}

@media (min-width: 425px) {
}

@media (min-width: 768px) {
    .revo_inte{
        font-size: 3rem !important;
        text-shadow: 1px 2px 6px #5d5d5d !important;
    }
    .mrgprogr{
        margin: 4rem 0;
    }
    .txtprogr1,.txtprogr2{
        text-align: start;
    }
    .pstremc{
        text-align: center;
    }
    .fstxtblux{
        text-align: start;
    }
    .frm-nc{
        padding: .375rem 0rem;
    }
    .txt-empresa {
        font-size: 1.8rem;
    }
    .centradoempresa {
        top: 49% !important;
        left: 42% !important;
    }
    .mx_3web{
        margin: 0 1rem;
    }
    .n_rp{
        display: block;
    }
    .text-empre1{
        padding: 4rem 0rem;
        margin: 0;
    }
    .cajaazul {
        background-color: #427CCE;
        padding: 0.5rem 2rem;
    }
    .spac_min{
        padding-top: 1.5rem;
    }
    .txt-compromis{
        font-size: 1.4rem;
        padding: 1rem 0;
    }  
    .mr_progres2{
        margin-top: 0rem;
    }
    .tx-cntr{
        text-align: center;
    }
    .txtcontc1{
        font-size: 3rem;
    }
    .contac_txt{
        top: 59% !important;
        left: 28% !important;
    }
    .mrl{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .indx-blg{
        text-align: start;
        margin-top: 2.2rem;
    }
    .mrowblg{
        margin-bottom: 4rem;
    }
    .bluzol {
        font-size: 1.5rem;
    }
    .mrg-indtl{
        margin-top: 4rem;
    }
    .hrmg{
        margin-top: 2rem;
        margin-bottom: 1.7rem;
    }
    .mbconcts{
        margin-bottom: 2.5rem;
    }
    .fot2prog{
        margin-top: 0rem;
    }
    .centraddemo{
        width: 90%;
    }
    .btnesrx{
        margin-left: 7rem;
        margin-top: 3rem;
    }
    .program-item{
        margin: 0 15px;
        padding: 40px 0;
    }
    .program1 .slick-active.slick-center > div {
        width: 100%;
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        color: #e67e22;
        opacity: 1;
        transform: scale(1.5);
        transition: all 200ms ease;
        z-index: 9;
        border-left: 15px solid #fff;
        border-right: 15px solid #fff;
    }
    .program1 h2{
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    .fot2prog{
        margin-top: 0rem;
    }
    .txt-empresa {
        font-size: 2.4rem;
    }
    .centradoempresa {
        top: 54% !important;
        left: 42% !important;
    }
    .cajaazul{
        font-size: 1.5rem;
        line-height: 1.3;
        font-weight: 600;
        color: white;
    }
    .cajaazul {
        background-color: #427CCE;
        padding: 0.5rem 3rem;
    }
    .txt-compromis {
        font-size: 2rem;
        padding: 2rem 0;
    }
    .txtcontc2 {
        font-size: 3rem;
    }
    .txtcontc1 {
        font-size: 3.6rem;
    }
    .contac_txt {
        top: 75% !important;
        left: 34% !important;
    }
    .fstxtblux {
        
        padding: 2.5rem 0;
    }
    .h-sda{
        height: 15rem;
    }
    .mrgnt {
        margin: 1rem 0;
    }
    .mrg-indtl{
        margin-top: 5rem;
    }
    .hrmg{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .mtd-sa{
        margin-top: 4rem;
    }
    .mbconcts{
        margin-bottom: 3rem;
    }
    .txtprogr1{
        font-size: 1.5rem;
    }
    .txtprogr2{
        font-size: 1.7rem;
    }
    .mrgprogr{
        margin-top: 5rem;
    }
    .centraddemo{
        width: 69%;
    }
    .btnesrx{
        margin-left: 7rem;
    }
    .img-square{
        height: 300px;
    }
    .program1 h2{
        font-size: 2.5rem;
    }
    .rmprsporce span{
        color: white;
        font-weight: 800;
       
        font-size: 0.9rem;
    
    }
}

@media (min-width: 1250px) {
    .cajaazul {
        background-color: #427CCE;
        padding: 0.5rem 5rem;
    }
    .fstxtblux {
        font-size: 2rem;
      
    }
    .btnesrx{
        margin-left: 11rem;
    }
}

@media (min-width: 1320px) {
    .txt-empresa {
        font-size: 3rem;
    }
    .rute_a{
        font-size: 1.3rem;
        color: black;
        font-weight: 600;
        text-decoration: none;
    }
    .txtsizesm {
        font-size: 1.15rem;
    }
    .btnesrx{
        margin-left: 13rem;
    }
}

@media (min-width: 1440px) {
    .txt-empresa {
        font-size: 3.4rem;
    }
    .cajaazul {
        background-color: #427CCE;
        padding: 0.5rem 7rem;
    }
    .txtcontc2 {
        font-size: 4rem;
    }
    .txtcontc1 {
        font-size: 4rem;
    }
    .h-sda{
        height: 18rem;
    }
    .txt_dte {
        font-size: 1rem;
    }
    .btnesrx{
        margin-left: 16rem;
    }
    .rmprsporce span{
        color: white;
        font-weight: 800;
       
        font-size: 1rem;
    
    }
}
@media (min-width: 1600px) {
    .btnesrx{
        margin-left: 19rem;
    }
    .text-programs{
        font-size: 0.9rem;
    }
}
@media (min-width: 1920px) {
    .btnesrx{
        margin-left: 26rem;
    }
}
